[submodule "libsrc/inspect"]
	path = libsrc/inspect
	url = git@github.com:nathanKramer/inspect.lua.git
[submodule "libsrc/light_world"]
	path = libsrc/light_world
	url = git@github.com:nathanKramer/light_world.lua.git
